body {
  padding: 10px;
  background-color: #bfd7df;
}
h1,
h2 {
  color: #00549f;
}
form label {
  color: #00549f;
}
.modal-title {
  color: #00549f;
  text-align: center;
}
.btnDelete {
  height: 18px;
  width: 18px;
}
.btnDelete:hover {
  background-color: #000;
  border-radius: 3px;
  border-color: #000;
}
#btnInvoice {
  background-color: #bfd730;
  color: #00549f;
  margin-top: 20px;
  margin-bottom: 20px;
}
.majorSection {
  background-color: #559cb5;
  width: auto;
  border-radius: 10px;
  padding: 8px;
}
.minorSection {
  background-color: #bfd7df;
  width: auto;
  border-radius: 8px;
  padding: 8px;
}
.modalInvoice input,
.modalInvoice textArea {
  border-radius: 3px;
}
.modalInvoice textArea {
  border-color: #888;
}
table {
  border: 0px;
}
table.tablesorter {
  font-family: arial;
  margin: 10px 0pt 15px;
  font-size: 12pt;
  width: 100%;
  text-align: left;
}
table.tablesorter thead tr .header {
  font-size: 14pt;
  background-image: url("../themes/blue/bg.gif");
  background-size: 16px 13px;
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url("../themes/blue/asc.gif");
  background-size: 17px 10px;
}
table.tablesorter thead tr .headerSortDown {
  background-image: url("../themes/blue/desc.gif");
  background-size: 17px 10px;
}
table.tablesorter tbody td {
  padding: 4px;
  background-color: #fff;
  vertical-align: top;
}
table.tablesorter tbody tr {
  cursor: pointer;
}
table.tablesorter tbody tr:hover {
  color: #00549f !important;
  font-size: 125%;
}
table.tablesorter tbody tr.odd td {
  background-color: #bfd7df;
}
table.tablesorter thead tr th {
  background-color: #e6eeee;
  border: 1px solid #fff;
  font-size: 14pt;
  padding: 4px;
}
table.tablesorter thead tr .headerSortDown,
table.tablesorter thead tr .headerSortUp {
  background-color: #559cb5;
}
.marginRight5 {
  margin-right: 5px;
}
.marginRight10 {
  margin-right: 10px;
}
.centered {
  text-align: center;
}
