//
   Created by esoyke on 9/12/15.
//
   Created by esoyke on 9/4/15.
   Simple mockup of branded invoice creator
   Just using hard-coded mock data, would convert to use Angular most likely.
doctype
html
   head
      title Professional Services Invoice System
      link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
      link(href="styles/site.css", rel="stylesheet")

body(ng-app="ngPsinvoicesApp")
   h2 Professional Services Invoices
   button.btn.btn-default.btn-lg(id="btnInvoice" type='button' data-toggle="modal" data-target="#modalNewInvoice")
      span.glyphicon.glyphicon-plus(aria-hidden='true')
      |  New Invoice
   div.majorSection(ng-controller="MainCtrl as main")
       div.minorSection
         table.table.table-striped.table-hover.tablesorter(id="tableInvoices")
            thead
               th(width="10%") Date
               th(width="15%") CU
               th(width="38%") Project
               th(width="17%") Delivery Manager
               th.centered(width="10%") Delete
            tbody
              tr(ng-repeat="invoice in main.invoices" data-toggle="modal" data-target="#modalExistingInvoice")
                td {{invoice.invoiceDate}}
                td {{invoice.clientName}}
                td {{invoice.invoiceName}}
                td {{invoice.manager}}
                td.centered
                  button.btnDelete(data-toggle="modal" data-target="#modalConfirmDelete")


         //
               tr.tr(data-toggle="modal" data-target="#modalExistingInvoice")
                  td 3/5/2015
                  td SFCU
                  td Schools Interface
                  td SKelley
                  td.centered
                     button.btnDelete(data-toggle="modal" data-target="#modalConfirmDelete")
               tr.tr(data-toggle="modal" data-target="#modalExistingInvoice")
                  td 5/22/2015
                  td VACU
                  td Interface enhancements
                  td DSoldwedel
                  td.centered
                     button.btnDelete(data-toggle="modal" data-target="#modalConfirmDelete")
               tr.tr(data-toggle="modal" data-target="#modalExistingInvoice")
                  td 7/15/2015
                  td PSCU
                  td Plastics inventory enhancements
                  td DSoldwedel
                  td.centered
                     button.btnDelete(data-toggle="modal" data-target="#modalConfirmDelete")
               tr.tr(data-toggle="modal" data-target="#modalExistingInvoice")
                  td 6/15/2015
                  td CEFCU
                  td Monetize Alerts
                  td SKelley
                  td.centered
                     button.btnDelete(data-toggle="modal" data-target="#modalConfirmDelete")
               tr.tr(data-toggle="modal" data-target="#modalExistingInvoice")
                  td 8/15/2015
                  td PSCU
                  td MYMM Billing
                  td DSoldwedel
                  td.centered
                     button.btnDelete(data-toggle="modal" data-target="#modalConfirmDelete")
               tr.tr(data-toggle="modal" data-target="#modalExistingInvoice")
                  td 7/27/2015
                  td PSCU
                  td Billpay service conversion
                  td DSoldwedel
                  td.centered
                     button.btnDelete(data-toggle="modal" data-target="#modalConfirmDelete")



   #modalNewInvoice.modalInvoice.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') &times;
               //h4#myModalLabel.modal-title New Invoice
               h3.modal-title New Invoice
            .modal-body
               form.form-vertical
                  div.form-group
                     label(for="projectName") Project:
                     input.form-control(id="projectName" type="text")
                  div.form-group
                     label(for="projectDate") Date:
                     input.form-control(id="projectDate" type="date")
                  div.form-group
                     label(for="cuName") CU Name:
                     input.form-control(id="cuName" type="text")
                  div.form-group
                     label(for="cuName") ID:
                     input.form-control(id="cuID" type="text")
                  div.form-group
                     label(for="manager") Delivery Manager:
                     input.form-control(id="manager" type="text")
                  div.form-group
                     label(for="desc") Description:
                     textarea.form-control(id="descent" type="text" rows=2)
                  div.form-group
                     label(for="invoiceAmount" style="padding-top: 7px") Invoice amount:
                     div.input-group.col-md-7.col-sm-4
                        span.input-group-addon $
                        input.form-control(type='text')
                        span.input-group-addon .00
            .modal-footer
               button.btn.btn-default(type='button', data-dismiss='modal') Close
               button.btn.btn-primary(type='button') Save
   #modalExistingInvoice.modalInvoice.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') &times;
               h3#myModalLabel.modal-title Schools Interface
            .modal-body
               form.form-vertical
                  div.form-group
                     label(for="projectDate") Date:
                     input.form-control(id="projectDate" type="date" value="2015-03-15")
                  div.form-group
                     label(for="cuName") CU Name:
                     input.form-control(id="cuName" type="text" value="SFCU")
                  div.form-group
                     label(for="cuName") ID:
                     input.form-control(id="cuID" type="text" value="1283")
                  div.form-group
                     label(for="manager") Delivery Manager:
                     input.form-control(id="manager" type="text" value="SKelley")
                  div.form-group
                     label(for="desc") Description:
                     textarea.form-control(id="descent" type="text" rows=3 value="Blah blah foo bar")
                        | Create custom interface to FDR via Data Exchange to replace Evolve usage for tellers
                  div.form-group
                     label(for="invoiceAmount" style="padding-top: 7px") Invoice amount:
                     div.input-group.col-md-7.col-sm-4
                        span.input-group-addon $
                        input.form-control(type='text' value="12,000")
                        span.input-group-addon .00
            .modal-footer
               //button.btn.btn-default(type='button', data-dismiss='modal') X Delete
               button.btn.btn-default(type='button', data-dismiss='modal') Close
               button.btn.btn-primary(type='button') Save changes
   #modalConfirmDelete.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') &times;
               h4#myModalLabel.modal-title Delete - Schools Interface
            .modal-body
               h3 Are you sure?
            .modal-footer
               button.btn.btn-default(type='button', data-dismiss='modal') Nevermind
               button.btn.btn-danger(type='submit') Delete


   <!-- build:js(.) scripts/vendor.js -->
   <!-- bower:js -->
   script(src="https://code.jquery.com/jquery-2.1.4.min.js")
   script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
   //script(src="https://cdnjs.com/libraries/jquery.tablesorter")
   script(src="scripts/jquery.tablesorter.min.js")
   script(src="bower_components/jquery/dist/jquery.js")
   script(src="bower_components/angular/angular.js")
   script(src="bower_components/bootstrap/dist/js/bootstrap.js")
   script(src="bower_components/angular-animate/angular-animate.js")
   script(src="bower_components/angular-cookies/angular-cookies.js")
   script(src="bower_components/angular-mocks/angular-mocks.js")
   script(src="bower_components/angular-resource/angular-resource.js")
   script(src="bower_components/angular-route/angular-route.js")
   script(src="bower_components/angular-sanitize/angular-sanitize.js")
   script(src="bower_components/angular-touch/angular-touch.js")
   <!-- endbower -->
   <!-- endbuild -->

   script(src="scripts/app.js")
   script(src="scripts/controllers/main.js")
   script(src="scripts/services/invoiceResource.js")
   script(src="scripts/services/invoiceResourceMock.js")
   //script(src="../common/services/common.services.js")


   // All the JS is read from Jade as-is if you include a "script." prior
   //
   script.
      // function to get current date
      Date.prototype.toDateInputValue = (function () {
         var local = new Date(this);
         local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
         return local.toJSON().slice(0, 10);
      });
      //pre-populate current date for new invoices
      $(document).ready(function () {
         $('#projectDate').val(new Date().toDateInputValue());
      });
      // delete confirmation
      $('.btnDelete').click(function (e) {
         //override showing the existing invoice modal (at tr level)
         e.preventDefault();
         e.stopPropagation();
         $('#modalConfirmDelete').modal('show');
      });
      // for table sorting
      //temp comment until I determine why it can't find tablesorter
      /*$(function () {
         // [2,0] indicates init sort on 3rd column ascending
         $("#tableInvoices").tablesorter({sortList: [[2, 0]], widgets: ['zebra'], headers: {4: {sorter: false}}});
      });*/

      //temp show at startup until I am happy with layout
      //$('#modalNewInvoice').modal('show');

