//
   Created by esoyke on 9/24/15.

div(data-ng-controller="MainCtrl")
   .modal-header
      button.close(type='button', data-dismiss='modal', aria-label='Close')
         span(aria-hidden='true') &times;
      h3#myModalLabel.modal-title {{invoice.invoiceName}}
   .modal-body
      form.form-vertical
         div.form-group
            label(for="projectDate") Date:
            input.form-control(id="projectDate" type="date" value="{{invoice.invoiceDate}}")
            // TODO- why is it not formatting existing dates as yyyy-MM-dd ?
         div.form-group
            label(for="cuName") CU Name:
            input.form-control(id="cuName" type="text" value="{{invoice.clientName}}")
         div.form-group
            label(for="cuName") ID:
            input.form-control(id="cuID" type="text" value="{{invoice.clientId}}")
         div.form-group
            label(for="manager") Delivery Manager:
            input.form-control(id="manager" type="text" value="{{invoice.manager}}")
         div.form-group
            label(for="desc") Description:
            textarea.form-control(id="description" type="text" rows=3)
               | {{invoice.description}}
         div.form-group
            label(for="invoiceAmount" style="padding-top: 7px") Invoice amount:
            div.input-group.col-md-7.col-sm-4
               span.input-group-addon $
               input.form-control(type='text' value="{{invoice.amount}}")
               span.input-group-addon .00
   .modal-footer
      button.btn.btn-default(type='button', ng-click='cancel()') Close
      button.btn.btn-primary(type='button', ng-click='ok(invoice)') Save changes