<!--Created by esoyke on 9/24/15.
--><div data-ng-controller="MainCtrl"><div class="modal-header"><button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button><h4 id="myModalLabel" class="modal-title">Delete - {{invoice.invoiceName}}</h4></div><div class="modal-body"><h3 style="text-align: center">Are you sure?</h3></div><div class="modal-footer"><button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button><button type="button" ng-click="delete(invoice)" class="btn btn-danger">Delete</button></div></div><!--div(data-ng-controller="MainCtrl").modal-dialog(role='document')
  .modal-content
     .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
           span(aria-hidden='true') &times;
        h4#myModalLabel.modal-title Delete - {{invoice.invoiceName}}
     .modal-body
        h3 Are you sure?
     .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
        button.btn.btn-danger(type='submit') Delete-->